Activity
1) Create the classes BankAccount (BankAccount.java), SavingsAccount(SavingsAccount.java), CurrentAccount (CurrentAccount.java) and TestAccount (TestAccount.java) which contains the main method. For details please read Lab11.pdf.

Homework
No Homework