Activity
1) Write a program that, given an integer number, tests if the number is positive or negative and displays on the screen the answer. (Lab2Ex1.java)

2) Write a program that, given a natural number, tests if the number is odd or even and displays on the screen the answer. (Lab2Ex2.java)

3) Write a program that, given a string of characters, counts the number of occurrences for each type of vowel and displays on the screen the associated number for each type of vowel. Use a while loop (or a for loop) and inside it a switch statement. (Lab2Ex3.java)

Example: String s = “I am first year student now”

Result: a appears 2 times, e appears 2 times, i appears 2 times, o appears 1 time, u appears 1 time

Homework
1) Write the code to compute the following numeric expression. (Lab2HwEx1.java)


class Lab2HwEx1 {
public static void main(String args[]){
double result = .......
//fill the ... with the correct expression
System.out.println(result);
}}

2) We use the Scanner class to read from keyboard. (Lab2HwEx2.java)

import java.util.Scanner;
class Lab2HwEx2 {
public static void main(String args[]){
//initialize the connection to the keyboard
Scanner scan=new Scanner(System.in);
String s=scan.nextLine();
System.out.println(s);
}}

Read your first name, last name, CNP from keyboard.

Create and display a password created from the first two letters, lowercase from the first name and last two letters from the last name uppercase.